/* 전체 카드 보드 스타일 */
.card-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

/* 카드 목록 스타일 */
.card-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.intro-card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  word-wrap: break-word; /* 텍스트 줄바꿈 허용 */
  white-space: pre-wrap; /* 공백 및 줄바꿈을 유지하며 여러 줄 표현 */
}

/* 개별 카드 스타일 (오픈) */
.card-item.revealed {
  font-weight: bold;
}

/* 개별 카드 스타일 (숨김) */
.card-item.hidden {
  filter: blur(3px);
  background-color: #202020;
}

.card-item {
  background-color: #f0f0f0;
  height: 80px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: #666;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-item:hover {
  background-color: #3fff00;
}

/* 새로 고침 버튼 스타일 */
.update-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.update-button:hover {
  background-color: #abd47f;
}
